<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Admin - View Bills</title><link rel="stylesheet" th:href="@{/css/styles.css}"></head>
<body>
   	<div th:replace="~{fragments/header :: header}"></div>
    <div class="container my-2">
        <h2>All Generated Bills</h2>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
		<div class="table-container">
		<table class="content-table">
            <thead><tr><th>Bill ID</th><th>Invoice #</th><th>User</th><th>Item</th><th>Total Amt</th><th>Date</th></tr></thead>
            <tbody>
                <tr th:each="bill : ${bills}">
                    <td th:text="${bill.billingId}"></td><td th:text="${bill.invoiceNumber}"></td><td th:text="${bill.order.user.email}"></td><td th:text="${bill.itemName}"></td>
                    <td th:text="'₹' + ${#numbers.formatDecimal(bill.totalAmount, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#temporals.format(bill.billingDate, 'dd-MMM-yyyy HH:mm')}"></td>
                   
                </tr>
            </tbody>
        </table>
		</div>
    </div>
</body>
</html>