<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Admin - Manage Menu</title><link rel="stylesheet" th:href="@{/css/styles.css}"></head>
<body>
 	<div th:replace="~{fragments/header :: header}"></div>
    <div class="container my-2">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Menu Management</h2>
            <a th:href="@{/Admin/Menu/add}" class="btn">Add New Item</a>
        </div>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
		<div class="table-container">
        <table class="content-table">
            <thead><tr><th>ID</th><th>Name</th><th>Category</th><th>Price</th><th>Actions</th></tr></thead>
            <tbody>
                <tr th:each="menu : ${menuList}">
                    <td th:text="${menu.menuId}"></td><td th:text="${menu.itemName}"></td><td th:text="${menu.category}"></td><td th:text="'₹' + ${#numbers.formatDecimal(menu.price, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td>
                        <a th:href="@{/Admin/Menu/edit/{id}(id=${menu.menuId})}" class="btn btn-secondary">Edit</a>
                        <form th:action="@{/Admin/Menu/delete/{id}(id=${menu.menuId})}" method="post" style="display:inline;">
                             <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
		</div>
    </div>
</body>
</html>