<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reserve a Table</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
        <div class="form-container">
            <h2>Reserve Your Table</h2>
            <form th:action="@{/User/Table/save}" th:object="${reservation}" method="post">
                <div class="form-group"><label for="reservationTime">Date and Time</label><input type="datetime-local" id="reservationTime" th:field="*{reservationTime}" required/></div>
                <div class="form-group"><label for="peopleNumber">Number of People</label><input type="number" id="peopleNumber" th:field="*{peopleNumber}" min="1" max="20" required/></div>
                <button type="submit" class="btn">Reserve Now</button>
            </form>
        </div>
    </div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>